body {
  background: #f2f2f2;
  max-width: 1020px;
  margin: 0 auto 50%;
  padding: 0 40px 0 20px;
  color: #222;
  font: normal normal 400 100%/1.5em georgia, serif;
  }

#title-block {
  position: fixed;
  top: 0;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
  width: 240px;
  height: 280px;
  padding: 20px;
}

#title-block .nav-links a {
  display: block;
  float: left;
  margin: -3px -8px;
  padding: 3px 8px;
  color: inherit;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#title-block .nav-links a:hover {
  background: #3366CC;
  color: #fff;
}

#title-block h1 {
  position: absolute;
  bottom: 12px;
  left: 20px;
  line-height: 1.1em;
}
#title-block h1 a {
  color: inherit;
  text-decoration: none;
}

#title-block h2 {
  position: absolute;
  bottom: 17px;
  right: 20px;
  font-size: 14px;
  color: #999;
  font-style: italic;
}
#title-block h2 a {
  font-style: normal;
  color: #999;
  text-decoration: underline;
}

#post-meta {
  position: fixed;
  top: 310px;
  width: 240px;
  padding: 20px;
  font-size: 12px;
  color: #999;
  line-height: 1.5em;
}

#post-meta a {
  color: inherit;
  text-decoration: none;
}
#post-meta a:hover {
  text-decoration: underline;
}

#post-meta dt {
  display: block;
  margin: 0;
  font-style: italic;
}

#post-meta dd {
  margin: 0 0 1em 0;
}

#page {
  margin: 60px 0 0 340px ;
  max-width: 680px;
}

#page header h1 {
  margin-bottom: 30px;
}

.post-date {
  font-size: 0.875em;
  color: #999;
}

@media screen and (max-width: 660px) {
  body {
    padding: 0 10px; }
  #title-block {
    position: relative;
    width: auto;
    height: 220px; }
  #post-meta {
    display: none; }
  #page {
    clear: both;
    margin: 0;
    padding: 20px 10px; }
}

a:link { color: #3366cc }
a:visited { color: #ab33cc }

blockquote,ol,p,ul,code { display: block; margin: 0 0 1.5em }
blockquote { border-left: solid .1em #E4E4E4; color: #919191; padding: 0 1.5em 0 1.4em }

h1,h2,h3,h4,h5,h6 { font-weight: 400 }
h1 { font-size: 225%; line-height: 1.3334em; margin: 0 0 .1666em }
h2 { font-size: 175%; line-height: 1.28571429em; margin: 0 0 .35714286em }
h3 { font-size: 137.5%; line-height: 1.3636em; margin: 0 0 .5em }
h4,h5,h6 { font-size: 112.5%; line-height: 1.3334em; margin: 0 0 .7778em }
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a { color: #333 !important; text-decoration: none; }

ol,ul { list-style-position: outside; padding: 0 }
ol ol,ol ul,ul ol,ul ul { margin: 0 0 .75em 2em }
table { border-collapse: collapse; margin: 1.5em 0; width: 100% }
td,th { border: solid .1em #000; font-family: sans-serif; font-size: 87.5%; line-height: 1.71428571em; text-align: center }

pre {
  display: block;
  font: normal normal 87.5%/1em Menlo, monospace, sans-serif;
  margin: 0;
  padding: 0;
}

code {
  margin: 0;
  padding: 0;
  display: inline;
  font: normal normal 87.5%/1em Menlo, monospace, sans-serif;
}

.highlight {
  display: block;
  margin: 0 0 1.875em;
  padding:10px;
  font: normal normal 87.5%/1.2em Menlo, monospace, sans-serif;
  overflow: auto;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
      -ms-border-radius: 3px;
       -o-border-radius: 3px;
          border-radius: 3px;
}