body {
  color: #36414c;
  font: normal normal 400 100%/1.5em "adobe-garamond-pro", georgia, serif;
  font-size: 22px;
  margin: 0 auto 50%;
  min-width: 960px;
  padding: 0;
  text-align: center;
  background: #fff url('../img/fold.png') no-repeat 0 0;
  }

header, section, footer {
  margin: 0 auto;
  padding: 0 140px;
  max-width: 680px;
}

section header, section footer {
  padding: 0;
}

header, footer {
  text-align: center;
}

article {
  padding: 30px 0;
}

#page {
  text-align: left;
}

.site-title {
  padding: 50px 0;
}
.site-title h1 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin: 0 0 10px;
  text-transform: uppercase;
}
.site-title h1 a {
  color: #36414c;
  text-decoration: none;
}

.byline {
  margin: 0;
}
.byline a {
  font-size: 18px;
  font-style: italic;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

h2 {
  font-size: 52px;
  line-height: 1.2em;
  margin: 0;
}
h2 a {
  text-decoration: none;
  color: inherit;
}

h3 {
  color: #a1a9b2;
  font-size: 18px;
  font-style: italic;
  margin: 0;
}

a {
  color: #0059b2;
}

a:link { color: #0059b2 }
a:visited { color: #0059b2 }

blockquote,ol,p,ul,code { display: block; margin: 0 0 1.5em }
blockquote { border-left: solid .1em #E4E4E4; color: #919191; padding: 0 1.5em 0 1.4em }

/* h1,h2,h3,h4,h5,h6 { font-weight: normal; }
h1 { font-size: 225%; line-height: 1.3334em; margin: 0 0 .1666em }
h2 { font-size: 175%; line-height: 1.28571429em; margin: 0 0 .35714286em }
h3 { font-size: 137.5%; line-height: 1.3636em; margin: 0 0 .5em }
h4,h5,h6 { font-size: 112.5%; line-height: 1.3334em; margin: 0 0 .7778em }
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a { color: #333 !important; text-decoration: none; } */

ol,ul { list-style-position: outside; padding: 0 }
ol ol,ol ul,ul ol,ul ul { margin: 0 0 .75em 2em }
table { border-collapse: collapse; margin: 1.5em 0; width: 100% }
td,th { border: solid .1em #000; font-family: sans-serif; font-size: 87.5%; line-height: 1.71428571em; text-align: center }

pre {
  display: block;
  font: normal normal 87.5%/1em Menlo, monospace, sans-serif;
  margin: 0;
  padding: 0;
}

code {
  margin: 0;
  padding: 0;
  display: inline;
  font: normal normal 87.5%/1em Menlo, monospace, sans-serif;
}

.highlight {
  display: block;
  margin: 0 0 1.875em;
  padding:10px;
  font: normal normal 87.5%/1.2em Menlo, monospace, sans-serif;
  overflow: auto;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
      -ms-border-radius: 3px;
       -o-border-radius: 3px;
          border-radius: 3px;
}