<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% if page.title != null %}{{ page.title }} - {% endif %}A Developing Story</title>
    <link rel="stylesheet" href="/assets/css/blog.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <header>
      <div id="title-block">
        {% if backlink != null %}
        <div class="nav-links">
          <a href="{{ linkback }}">&laquo; back</a>
        </div>
        {% endif %}
        <h1><a href="/">A<br>Developing<br>Story</a></h1>
        <h2>by <a href="/pages/about">Justin Driscoll</a></h2>
      </div>
    </header>
    {{ content }}
    <footer></footer>
  </body>
</html>
